# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# 빌드 산출물 무시
*.apk
*.so
*.zip

# IDE 설정
.vscode/

# OS 임시 파일
Thumbs.db

# 로그 및 캐시
logs/
.cache/

# 환경설정 및 민감정보
.env

# 패키지 매니저
node_modules/
venv/

!gradle/wrapper/gradle-wrapper.jar
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
